html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

ul li {
  display: flex;
  align-items: center;
}
